@model QuizPlatform.DTO.Quiz.QuizDto


<h1>Create Quiz</h1>
@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in ViewBag.Error)
        {
            @error.Message

            <br />
        } 
    </div>
}
<h1>Create Quiz</h1>
<form id="quizForm" enctype="multipart/form-data"asp-controller="Quiz" asp-action="Create">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea>
    </div>
    <div>
        <label for="Image">Image:</label>
        <input type="file" id="image" name="image" accept="image/*" required>
    </div>
    <div>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date">
    </div>


    <button type="submit">Submit</button>
</form>
